process {
    //the executor, visit the nextflow website for more info
    executor = 'slurm'
    clusterOptions = {
        //your acount, you need not change this if you use local executor
        '-A b2016296'
    }
}

params {

	//test
	ett_ = {ett}
	tva_ = {tva}
	
	// Path to working directory
	workingDir = {working_dir} // Path 
	
	// Path to the reference h19 genome
	ref = {ref_genome}

	//-------------TIDDIT---------------
	
	// Path to TIDDIT script 
	TIDDIT_path = {TIDDIT_path}
    
    //minimum number of discordant pairs for calling a variant
    TIDDIT_pairs=6
    
    //lowest mapping quality of a discordant pair
    TIDDIT_q=10

    //-------------CNVnator------------
    
    // Path to the CNVnator script 
 	CNVnator_path= {CNVnator_path}
 	
 	//path to the thisroot.sh script, you will find it in the bin directory of the compiled root library
    //skip this variable if rootsys already is added to path
    thisroot_path= {thisroot_path}

    //path to the folder containing reference fasta files split per chromosmoe
    CNVnator_reference_dir_path={CNVnator_reference_dir_path}
    
    //the path to the cnvnator2vcf script
    CNVnator2vcf_path={CNVnator2vcf_path}
    
    //bin size of cnvnator, generally, small bin size leads to high sensitivity and worse precision, and the other way around
    CNVnator_bin_size='1000'

    SVDB_script={SVDB_script_path}

    svdb_database = {SVDB_database}

    //-------------GENERAL-----------------

    dry_run = ""
	wgs_result = "/home/vanja/MasterProject/longranger_test/sample3" // bam and vcf files generated by longranger wgs, for dry run
	id = "SVenX"

}

