
params {
	workingDir="./SVENX_TEST/" // Path 
	ref = "/home/vanja/MasterProject/fastq_data/refdata-hg19-2.1.0/"
	id = "SVenX01"
	fastq = "none" // path to fastq data
	wgs_result = "/home/vanja/MasterProject/longranger_test/sample3" // for dry_run
	wgs = "" 
	basic = ""
	dry_run = ""
	folder = ""
	sample = ""
}