
params {
	workingDir="./SVENX_TEST/" // Path 
	ref = "/home/vanja/MasterProject/fastq_data/refdata-hg19-2.1.0/"
	id = "SVenX01"
	fastq = "none" // path to fastq data
	wgs_result = "/home/vanja/MasterProject/longranger_test/sample3" // for dry_run
	wgs = "" 
	basic = ""
	dry_run = ""
	folder = ""
	sample = ""
}

workflow.onComplete {
    def subject = 'My pipeline execution'
    def recipient = 'me@gmail.com'

    ['mail', '-s', subject, recipient].execute() << """

    Pipeline execution summary
    ---------------------------
    Completed at: ${workflow.complete}
    Duration    : ${workflow.duration}
    Success     : ${workflow.success}
    workDir     : ${workflow.workDir}
    exit status : ${workflow.exitStatus}
    Error report: ${workflow.errorReport ?: '-'}
    """
}


workflow.onError = {
    println "Oops .. something when wrong"
}